//- extends layout

//- block content
//-     p Main index

body
    h1 Main Index
    a.btn.btn-info(href="/login") Log in
    a.btn.btn-success(href="/signup") Sign up

block footer
    footer
        .container
            p
            | Copyright &copy; 2018
    
