body
    h1 Search
        form(method='POST action='/signup')
            .form-group
                input#name.form-control(type='text', placeholder='first name' name='first-name')
            button.btn.btn-primary(type='submit') Sign up